h1 {
    color:rgb(251, 251, 251);
    position: absolute;
    top: 20px;
    left: 575px;
    font-family:sans-serif;
    text-align:justify;
}
body{
    background-color:rgb(61, 70, 78)
}
p {
    color:rgb(255, 255, 255);
    text-align: justify;
    padding: 1% 2%;
}
.lula {
    color:rgb(247, 67, 67);
    text-decoration:none;
}
.bolso {
    color:rgb(182, 248, 0);
    text-decoration:none;
}
.cilio {
    color:rgb(20, 185, 20);
    text-decoration:none;
}
.topper {
    position:relative;
    top:99px;
    left:525px;
    width: 300px;
    height:300px;
    border:solid 7px rgb(247, 67, 67);
    border-radius:10px;
}
.cu {
    color:rgb(247, 67, 67);
    font-family: 'Comic Sans MS', sans-serif;
    font-weight:700;
    position: absolute;
    top: 400px;
    left: 575px;
}
.zopper {
    position:relative;
    top:99px;
    right:207px;
    width:300px;
    height:300px;
    border:solid 7px rgb(182, 248, 0);
    border-radius:10px;
}
.cuz {
    position:absolute;
    font-family: 'Comic Sans MS', sans serif;
    font-weight:700;
    top:400px;
    left:117px;
    color:rgb(182, 248, 0);
}
.copper {
    position:relative;
    top:99px;
    left:300px;
    width:300px;
    height:300px;
    border:solid 7px rgb(20, 185, 20);
    border-radius:10px;
}
.cus {
    position:absolute;
    font-family: 'Comic Sans MS', sans serif;
    font-weight:700;
    top:400px;
    left:964px;
    color:rgb(20, 185, 20)
}