
h1 {
    color:rgb(251, 251, 251);
    position: absolute;
    top: 20px;
    left: 577px;
}
body{
    background-color:rgb(61, 70, 78)
}
p {
    color:rgb(255, 255, 255);
    text-align: justify;
    padding: 1% 2%;
}
.container {
    position:relative;
}
.topper {
    position:absolute;
    top:99px;
    left:530px;
    width: 300px;
    height:300px;
    border:5px red;
}
.cu {
    color:rgb(247, 67, 67);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-weight:700;
    position: absolute;
    top: 400px;
    left: 515px;
}