h1 {
    color:rgb(251, 251, 251);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
body{
    background-color:rgb(61, 70, 78);
}
footer {
    display:flex;
    flex-direction:column;
}
.textop {
    color:rgb(255, 255, 255);
    font-family: 'Comic Sans MS', sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
}
.imagem {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items:center;
}
.textoi {
    display:flex;
    flex-direction:column;
    align-items:center;
}
#lula {
    color:rgb(247, 67, 67);
    text-decoration:none;
}
#bolso {
    color:rgb(182, 248, 0);
    text-decoration:none;
}
#cilio {
    color:rgb(20, 185, 20);
    text-decoration:none;
}
#lula1 {
    color:rgb(247, 67, 67);
    text-decoration:none;
    display:flex;
    margin: 0px 7px 0px 7px;
}
#bolso1 {
    color:rgb(182, 248, 0);
    text-decoration:none;
    display:flex;
    margin: 0px 7px 0px 7px;
}
#cilio1 {
    color:rgb(20, 185, 20);
    text-decoration:none;
    display:flex;
    margin: 0px 7px 0px 7px;
}
.topper {
    width: 300px;
    height:300px;
    border:solid 7px;
    border-radius:10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
    display:flex;
    flex-direction:column;
}
#cu {
    color:rgb(247, 67, 67);
    font-weight:700;
}
#cuz {
    font-weight:700;
    color:rgb(182, 248, 0);
}
#cus {
    font-weight:700;
    color:rgb(20, 185, 20);
}